:root {
  --main-bg-color: #f6f6f4;
  --accent-color: #7d1dbc;
  --white-bg: #ffffff;
  --danger-color: #ff6666;
  --light-text-color: #9ca9b6;
  --dark-text-color: #031822;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", "Poppins", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  color: var(--dark-text-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-bg-color);
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: grid;
  grid-template-columns: 350px 2fr 400px;
  gap: 20px;
  max-width: 1700px;
  margin: auto;
}

.app-heading {
  grid-column-start: 2;
  grid-column-end: 4;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.app-heading button {
  width: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 15px;
  border: none;
  background: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.app-heading button svg {
  fill: var(--accent-color);
  transform: scale(1.1);
}

/* SideNav Styling
================== */
nav.side-nav {
  padding: 10px 0px;
  grid-row-start: 1;
  grid-row-end: 3;
}
nav.side-nav .container {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
nav.side-nav .container .logo img {
  width: 180px;
  display: block;
  margin: 30px 0px;
}
nav.side-nav .container .navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
nav.side-nav .container .navigation li {
  width: 100%;
}

nav.side-nav .container .navigation li a.side-nav__link {
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  transition: background 0.2s ease;
}
nav.side-nav .container .navigation li a.side-nav__link * {
  stroke: var(--light-text-color);
  color: var(--light-text-color);
}
nav.side-nav .container .navigation li a.side-nav__link.active {
  background: var(--accent-color);
}
nav.side-nav .container .navigation li a.side-nav__link:not(.active):hover {
  background: #fff;
}
nav.side-nav .container .navigation li a.side-nav__link.active * {
  color: #fff;
  stroke: #fff;
}
nav.side-nav #close-nav {
  display: none;
}

/* Loading 
========== */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--accent-color);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Dashboard
============ */
.dashboard .dashboard-content {
  background: #fff;
  padding: 40px;
  border-radius: 30px;
}
/* .dashboard .dashboard-content {
} */

/* Products View
================ */
.products-view > h1 {
  padding: 10px 25px;
  position: relative;
  margin: 20px 0px;
}
.products-view > h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--accent-color);
  border-radius: 6px;
}
.products-view .states {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.products-view .states .state {
  background: #f3e9f9;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.products-view .states .state .icon {
  width: 80px;
  height: 80px;
  background: var(--accent-color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products-view .states .state .text h1 {
  color: var(--accent-color);
  font-size: 22px;
}
.products-view table {
  display: inline-block;
  width: 100%;
  overflow-y: scroll;
  margin: auto;
  max-height: 420px;
}
.products-view table::-webkit-scrollbar {
  width: 8px;
  background: rgb(245, 243, 248);
  border-radius: 15px;
}

.products-view table::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 5px;
}
.products-view table thead tr td {
  font-size: 18px;
  font-weight: 500;
}
.products-view table tbody tr td.low-stock {
  color: var(--danger-color);
}
.products-view table tbody tr {
  transition: background 0.2s ease;
}
.products-view table tbody tr:hover {
  background: #f6f6f4;
  border: 2px solid red;
}
.products-view table tr td {
  padding: 10px;
}
.products-view table tbody tr td button {
  background: var(--danger-color);
  border: none;
  border-radius: 40px;
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;
  cursor: pointer;
}
.products-view table tbody tr td button p {
  font-size: 15px;
  color: #fff;
}

.products-view .products-table-pagination ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  margin: 20px auto 0px;
}
.products-view .products-table-pagination ul li {
  cursor: pointer;
}
.products-view
  .products-table-pagination
  ul
  li:not(:first-of-type):not(:last-of-type)
  a {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 11px;
  color: var(--light-text-color);
}

.products-table-pagination
  ul
  li:not(.selected):not(.next):not(.previous)
  a:hover {
  background: #7c1dbc11;
}
.products-view .products-table-pagination ul li.selected a {
  background: var(--accent-color);
  color: #fff !important;
}
.products-view .products-table-pagination ul li.next a,
.products-view .products-table-pagination ul li.previous a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--light-text-color);
}
.products-view .products-table-pagination ul li.disabled {
  opacity: 0;
  pointer-events: none;
}

/* Users Panel
============== */
.users-panel {
  padding: 0px 20px;
}
.users-panel p {
  color: var(--light-text-color);
  font-size: 22px;
  font-weight: 500;
}
.users-panel .search-area {
  position: relative;
  margin: 15px 0px;
}
.users-panel .search-area input {
  width: 100%;
  height: 50px;
  padding: 0px 10px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
}
.users-panel .search-area input:focus {
  outline: 2px solid var(--accent-color);
}
.users-panel .search-area button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 15px;
  position: absolute;
  top: 5px;
  right: 5px;
  background: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.users-panel .users-list {
  max-height: 500px;
  overflow-y: scroll;
  padding: 20px 0px;
}
.users-panel .users-list::-webkit-scrollbar {
  width: 8px;
  background: var(--white-bg);
  border-radius: 15px;
}

.users-panel .users-list::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 5px;
}
.users-panel .users-list ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.users-panel .users-list ul li {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.users-panel .users-list ul li p {
  font-size: 18px;
}
.users-panel .users-list ul li p.icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  color: #fff;
}
.users-panel .users-list ul li p.name {
  color: var(--dark-text-color);
}

/* Orders View
============== */
.orders-view .charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.orders-view .charts .chart {
  background: #f3e9f9;
  padding: 15px;
  border-radius: 20px;
}
.orders-view canvas {
  all: unset !important;
  width: 100% !important;
  margin: auto !important;
  display: block !important;
  aspect-ratio: 3 / 2 !important;
  font-size: 15px !important;
}
.orders-view > h1 {
  padding: 10px 25px;
  position: relative;
  margin: 20px 0px;
}
.orders-view > h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--accent-color);
  border-radius: 6px;
}
.orders-view .orders-list {
  display: flex;
  gap: 15px;
  width: 100%;
  overflow-x: scroll;
  padding: 15px 0px;
}
.orders-view .orders-list::-webkit-scrollbar {
  height: 8px;
  background: rgb(245, 243, 248);
  border-radius: 15px;
}
.orders-view .orders-list::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 5px;
}
.orders-view .orders-list .order-card {
  min-width: 350px;
  background: #f3e9f9;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.orders-view .orders-list .order-card > * {
  width: 100%;
}
.orders-view .orders-list .order-card table tr td:first-of-type {
  color: #c699e1;
}
.orders-view .orders-list .order-card table tr td:last-of-type {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 500;
}
.orders-view .orders-list .order-card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 8px 0px;
}
.orders-view .orders-list .order-card .bottom p {
  color: #c699e1;
  text-align: right;
}
.orders-view .orders-list .order-card .bottom .price p:last-of-type {
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 500;
}
.orders-view .orders-list .order-card .actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.orders-view .orders-list .order-card .actions button {
  height: 40px;
  border-radius: 15px;
  border: none;
  color: #fff;
  background: var(--danger-color);
  cursor: pointer;
}
.orders-view .orders-list .order-card .actions button:first-of-type {
  background: #5ed97b;
}
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*================ MEDIA QEURIES ================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
@media only screen and (max-width: 1430px) {
  .App {
    grid-template-columns: 1fr 400px;
    padding: 0px 20px;
  }
  .app-heading {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 10px 0px;
    padding: 0px 20px;
  }

  .app-heading button {
    display: flex;
  }

  /* Side Nav
  =========== */
  nav.side-nav {
    position: fixed;
    background: var(--main-bg-color);
    width: 100%;
    max-width: 500px;
    z-index: 500;
    min-height: 100vh;
    box-shadow: 40px 0px 20px rgba(0, 0, 0, 0.149);
    transition: transform 0.2s ease;
    transform: translateX(-150%);
    padding: 10px 0px;
  }
  nav.side-nav.open {
    transform: translateX(0px);
  }
  nav.side-nav.open::backdrop {
    background: #000;
  }
  nav.side-nav .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav.side-nav #close-nav {
    width: 60px;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    border: none;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1070px) {
  body {
    overflow: scroll;
  }
  .App {
    display: flex;
    flex-direction: column;
  }
  .dashboard .dashboard-content {
    padding: 20px;
  }
}

@media only screen and (max-width: 770px) {
  .dashboard .dashboard-content .states {
    grid-template-columns: 1fr;
  }

  /* Products View
  ================ */
  .orders-view .charts {
    grid-template-columns: 1fr;
  }
  .orders-view .charts .chart canvas {
    width: 80% !important;
  }
}

@media only screen and (max-width: 670px) {
  .app-heading {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 10px;
  }
}

@media only screen and (max-width: 530px) {
  /* Dashboard
  ============ */
  .dashboard .dashboard-content table {
    display: block;
    overflow-x: scroll;
  }

  .products-view .products-table-pagination ul li.next a span,
  .products-view .products-table-pagination ul li.previous a span {
    display: none;
  }
}
